body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
}

.container{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 20%;
}
p{
    margin:0;
}


.container .text{
    text-align: center;
    position: relative;
    font-size: 6em;
    color: pink;


}

.container .all{
    font-size: 2em;
    color: rgba(32, 32, 44, 0.928);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.last{
    top:30%;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
a .btn{
    margin-top: 10%;
    position: absolute;
    top:50%;
    left: 45%;
    border: none;
    background-color: pink;
    border-radius: 4px;
    padding: 4px 6px;

}